<div class="row ml-5">
    <button class="col-sm-3 m-1 btn btn-primary" (click)="openDeedsCard()" style="background-color: rgb(241, 49, 15);"> Deeds Card</button>
    <button class="col-sm-3 m-1 btn btn-primary" (click)="openMmCard()" style="background-color: rgb(10, 2, 48);">M-M Cards</button>
    <button class="col-sm-3 m-1 btn btn-primary" (click)="openPrkCard()" style="background-color: rgb(212, 16, 58);"> Park Cards</button>
    
</div>
<div class="row ml-3 col-md-12" style="background-color: #ffffff">
    <router-outlet></router-outlet>
</div>
 
