<p>dashboard works!</p>
<div class="container justify-content-center pt-4 pb-4" style="background-color: #ffffff">
<div class="row pt-3 pb-3">
    <div class="col-sm-4">
            <div class="card">
                    <div class="card-header">Registered<i class="fa float-right fas fa-ellipsis-v"></i></div>
                    <div class="card-body">
                        <i class="fa fa-fw fa-home" style="font-size: 210%; color: #f0b30b"></i>
                        <br>
                        3456 Properties
                                 <div class="progress"style="height:5px">
                                    <div class="progress-bar bg-warning" style="width:40%"></div>
                                 </div>
                    </div> 
                    <!-- <div class="card-footer">And counting</div> -->
                  </div>
    </div>
    
    <div class="col-sm-4">
            <div class="card">
                    <div class="card-header">Mortgaged<i class="fa float-right fas fa-ellipsis-v"></i></div>
                    <div class="card-body">
                        <i class="fa fa-fw fa-home" style="font-size: 210%; color: #5ff00b"></i>
                        <br>
                        3456 Properties
                                 <div class="progress"style="height:5px">
                                    <div class="progress-bar" style="width:40%; background-color:#5ff00b"></div>
                                 </div>
                    </div> 
                    <!-- <div class="card-footer">And counting</div> -->
                  </div>
    </div>
    
    <div class="col-sm-4">
            <div class="card">
                    <div class="card-header">Bank's Mortgage<i class="fa float-right fas fa-ellipsis-v"></i></div>
                    <div class="card-body">
                        <i class="fa fa-fw fa-home" style="font-size: 210%; color: #3d0bf0"></i>
                        <br>
                        3456 Properties
                                 <div class="progress"style="height:5px">
                                    <div class="progress-bar" style="width:40%; background-color:#3d0bf0"></div>
                                 </div>
                    </div> 
                    <!-- <div class="card-footer">And counting</div> -->
                  </div>
    </div>
    
</div>

</div>
