/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(10, 2, 48); 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 200px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    
    margin: 0.5em;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .sidenav a i{
      
      color: #13beb0;
  }

  .sidenav a:hover i{
    color: #be1338;
}

span{
    cursor: pointer;
}
  
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
    background-color: rgb(19, 8, 73); ;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
    margin-Left:250px;
    height: 100%;
    background-color: #e2e2e2;
    /* box-shadow: 2px 2px 2px 2px rgb(19, 8, 73); ; */
  }

  hr{
      color: #ffffff;
      background-color: #ffffff;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }